<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myproject.framework.mvp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="com.myproject.framework.mvp.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name="com.myproject.framework.mvp.service.SyncService" />

        <activity
            android:name="com.myproject.framework.mvp.ui.splash.SplashActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.myproject.framework.mvp.ui.login.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.myproject.framework.mvp.ui.main.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.myproject.framework.mvp.ui.feed.FeedActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.myproject.framework.mvp.ui.main.MainActivity"
            android:screenOrientation="portrait">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.myproject.framework.mvp.ui.main.MainActivity" />
        </activity>

    </application>

</manifest>